table {
    display: inline-block;
}

.m {
    padding-right: 10px;
}

.m_ {
    padding: 0 5px 0 3px;
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

.m_:hover {
    background: lightgray;
}

.s {
    padding-left: 20px;
}

.o {
    text-decoration: underline;
    margin: 0;
    font-weight: bold;
}

.c {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

.c:hover {
    background: lightgray;
}

td {
    font-family: 'Noto Sans JP';
    font-size: 25px;
}
